.kuka-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(53, 56, 83, 0.76);
    object-fit: contain;

  }
.kuka-container > h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin-top: 0px;
  }

  
.kuka-container > p {
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }