.materiaaleja-container {
    background-color: #ffffffb4;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    object-fit: contain;

  }
.materiaaleja-container > h1 {
    color: rgb(0, 0, 0);
    font-size: 100px;
    margin-top: 50px;
  }

  
.materiaaleja-container > p {
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  