:root{
    --primary: rgb(255, 255, 255);
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary); /*Hyödynnetään aiemmin luotua uudelleen*/
    color: #ffffff;
    border: 1px solid var(--primary)
}

.btn--outline {
background-color: transparent;
color: rgb(255, 255, 255);
padding: 8px 20px;
border: 1px solid var(--primary);
transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
    background: rgb(44, 44, 44);;
}

.btn--large {
    background-color:rgb(255, 255, 255);
    padding: 12px 26px;
    font-size: 20px;
    color: rgb(44, 44, 44);
}
.btn--medium:hover{
    transition: all 0.3s ease-out;
    background: transparent;
    color: #ffffff;
    background:rgb(167, 227, 255);
    transition: 250ms;

}

.btn--large:hover {
    background: transparent;
    transition: all 0.3s ease-out;
    color: rgb(255, 255, 255);
    transition: 250ms;
}